
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
}
.font-police{
  font-family: 'Outfit', sans-serif;
}
.article{
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  justify-content: start;
  max-width: 240px;
  max-height: 380px;
  border-radius: 15px;
  padding: 15px 15px 40px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-image{
  border-radius: 20px;
}
.card-title{
  color:hsl(218, 44%, 22%);
  margin-bottom: 2px;
  font-weight: 700;
  padding: 0px 10px;
  text-align: center;
}
.card-paragraph{
  color: hsl(220, 15%, 55%);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  padding: 0 10px;
}



@media only screen and (max-width: 375px) {
    .article {
      width: 220px;
      height: 360px;
    }
    .card-title{
        padding: 0;
    }
    .card-paragraph{
        padding: 0;
    }
}